<!DOCTYPE html>
<html>
<head>
  <title>ExploreTO</title>
  <!-- Latest compiled and minified CSS -->
   <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.css' rel='stylesheet' />
<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-image/v0.0.4/leaflet-image.js'></script>
</head>
<body id="<%= @page_name %>">
  <header>
    <div id="logo"><h2><%= link_to "Map Time", users_path, { 'data-no-turbolink' => true } %></h2></div>
    <div id="nav">
    <% if current_user %>
     <p> <%= link_to "Go to Profile", user_path(current_user.id) %>
      <%= link_to "Logout", :logout, method: :post %></p>
    <% else %>
      <p><%= link_to "Register", new_user_path %> or
      <%= link_to "Login", :login %></p>
    <% end %>
  </div>
  <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>

  </header>

<%= yield %>


</body>
</html>