<!DOCTYPE html>
<html>
<head>
  <title>ExploreTO</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="logo"><h3>LOGO GOES HERE</h3></div>
    <div class="login-logout">
      <%= link_to "Sign up now", new_user_path %>
    </div>
  </header>

<%= yield %>

</body>
</html>
